header{
    background-color: red;
    padding: 60px;
}

nav{
    background-color: #e6994f;
    padding: 40px;
}
div{
    background-color: #d2739c;
    padding: 55px;
}
main{
    background-color: #cd729c;
    padding: 30px;
}
aside{
    background-color: #311b96;
    padding: 35px;
}
footer{
    background-color: #34ac17;
    padding: 45px;
}
body{
    background-color: #df4987;
}

/* Colours are written using 
  RGB values
                        Red   Green   Blue
  Hexadecimal 00 - FF   
                SINGLE #  F      0       0
                DOUBLE # FF     00      00
  Decimal     0 - 255
                    rgb( 255    0       0 )
  Hex - base 16
  0 1 2 3 4 5 6 7 8 9 A B C D E F
  Dec - base 10
  0 1 2 3 4 5 6 7 8 9
  =====
  HSL
  */

